body {
  --main-color: #ffc107;
  --secondary-text: #757575;
  --primary-color: #0062ff;
  --secondary-color: #6c757d;
  --success-color: #0dd21d;
  --warning-color: #ffc542;
  --error-color: #fc5a5a;
  --gray-9: #171725;
  --gray-8: #44444f;
  --gray-7: #696974;
  --gray-6: #92929d;
  --gray-5: #b5b5be;
  --gray-4: #d5d5dc;
  --gray-3: #e2e2ea;
  --gray-2: #f1f1f5;
  --gray-1: #fafafb;
}
body * {
  font-family: "Noto Sans TC", sans-serif;
  cursor: default;
}
body input,
body textarea {
  cursor: text;
}
body .btn {
  cursor: pointer;
}
body .icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body .icon {
  width: 15px;
  height: 15px;
  box-sizing: initial;
  cursor: pointer;
}
body .icon path {
  cursor: pointer;
}
body .loading-div {
  padding: 30px;
}
body .loading-div h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .loading-div h1 .loading {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  animation: loading 1s infinite linear;
}
@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}