@mixin icon-btn{
  background-color: var(--main-color);
  margin: 0 5px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--gray-9);

    path {
      fill: var(--gray-9);
    }
  }

  * {
    font-size: 1.2em;
    cursor: pointer;
  }
}


#header{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--main-color);

  .btn-group{
    // border: 1px solid red;
    position: absolute;
    right: 25px;
    display: flex;
  }

  .setting-btn{
    @include icon-btn();
  }

  .logout-btn{
    @include icon-btn();
  }

}