@mixin icon-btn{
  background-color: var(--main-color);
  margin: 0 5px;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--gray-9);

    path {
      fill: var(--gray-9);
    }
  }

  * {
    font-size: 1.2em;
    cursor: pointer;
  }
}

#header{
  position: fixed;
  // position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  padding: 0 15px;

  .btn-group{
    // border: 1px solid red;
    // position: absolute;
    // right: 25px;
    display: flex;

    .online-user{
      border:1px solid var(--gray-9);
      border-radius: 6px;
      padding: 5px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1em;
      p{
        margin-left: 10px;
      }
    }

    .setting-btn {
      @include icon-btn();
    }
  
    .logout-btn {
      @include icon-btn();
    }
  }

}
// @media screen and (min-width: 768px){
//   #header{
//     position: fixed;
//   }
// }